{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Inovax{% endblock %}

{% block content %}

<style>
    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #25d366;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .whatsapp-button img {
        width: 35px;
        height: 35px;
    }

    .container_bt {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .botao {
        background-color: #4CAF50; /* Verde */
        color: white; /* Texto branco */
        padding: 15px 32px; /* Espaçamento interno */
        text-align: center; /* Centralizar texto */
        text-decoration: none; /* Remover sublinhado */
        display: inline-block;
        font-size: 16px;
        border-radius: 30px; /* Bordas arredondadas */
        border: none; /* Remover bordas padrão */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    }

    .centralizada {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .imagem {
        width: 100%;
        height: auto;
    }

    .botao-inferior-direito {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #4CAF50; /* Verde */
        color: white; /* Texto branco */
        padding: 10px 20px; /* Espaçamento interno */
        text-align: center; /* Centralizar texto */
        text-decoration: none; /* Remover sublinhado */
        font-size: 14px;
        border-radius: 20px; /* Bordas arredondadas */
        border: none; /* Remover bordas padrão */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    }

    .container_icon {
        display: flex;
        justify-content: center;
        height: 35vh;
        gap: 20vh; /* Diminuir espaçamento entre os itens */
        margin-top: 10vh;
    }

    .item {
        text-align: center;
        margin: 0 40px; /* Aumentar espaçamento lateral entre imagens */
    }

    .imagem_icon {
        display: block;
        margin: 0 auto; /* Centralizar imagem */
        width: 100px; /* Largura da imagem */
        height: auto; /* Manter proporção da imagem */
    }

    .solucoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .linha {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .item {
        text-align: center;
        margin: 0 70px; /* Espaço entre as imagens */
    }

    .imagem_solucoes {
        width: 200px;
        height: 200px;
        border-radius: 30%;
    }

    .botao-esquerda {
        text-align: center; /* Alinhar o texto à esquerda */
        display: block;
        margin: 10px 0 0 0; /* Margem superior para separar a imagem do botão */
    }

    .green-line {
        width: 15%; /* Defina a largura desejada */
        height: 4px; /* Defina a altura desejada */
        background-color: #00FF00; /* Cor verde */
        margin: 0 auto; /* Centraliza a linha */
        margin-top: 8px; /* Espaço entre o título e a linha */
    }


    /* Media Queries para responsividade */
    @media (max-width: 768px) {
        .container_icon {
            flex-direction: column;
            gap: 2rem;
        }

        .container_bt, .solucoes, .linha {
            flex-direction: column;
        }

        .imagem_solucoes {
            width: 150px;
            height: 150px;
        }

        .item {
            margin: 20px 0; /* Espaço entre os itens na visualização móvel */
        }

        .container_bt {
            margin: 2rem 0;
        }

        .centralizada {
            flex-direction: column;
        }

        .imagem_icon {
            width: 70px;
        }

        .whatsapp-button {
            width: 50px;
            height: 50px;
        }

        .whatsapp-button img {
            width: 25px;
            height: 25px;
        }

        .botao {
            padding: 10px 24px;
            font-size: 14px;
        }

       
    }
</style>

<section class="py-12 mt-20">
    <div class="container mx-auto text-center">
        <img src="{% static 'BANNER_HOME.png' %}" alt="Transformando">
    </div>
    <br>
    <div class="container_bt">
        <a class="botao" href="{% url 'quem_somos' %}">Saiba mais</a>
    </div>
    <div class="centralizada">
        <div class="container mx-auto text-center">
            <img src="{% static 'banner_solucoes.png' %}" alt="Transformando" class="imagem">
        </div>
    </div>
    <br>
    <div class="solucoes">
        <div class="linha">
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 1" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Liderar</a>
            </div>
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 2" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Comunicar</a>
            </div>
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 3" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Vender</a>
            </div>
        </div>
        <div class="linha">
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 4" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Negociar</a>
            </div>
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 5" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Autodesenvolver</a>
            </div>
            <div class="item">
                <img src="{% static 'ratangulo.png' %}" alt="Imagem 6" class="imagem_solucoes">
                <br>
                <a class="botao botao-esquerda" href="#">Integrar</a>
            </div>
        </div>
    </div>
    <br>

    <div class="text-center">
        <h2 class="text-4xl font-bold leading-none">CONHEÇA NOSSA EQUIPE</h2>
        <br>
        <div class="green-line"></div>
    </div>

    <div>
        {% include 'carousel.html' %}
    </div>
    
    <br>
    <div class="container mx-auto flex items-center">
        <div class="text-left">
            <h2 class="text-4xl font-bold leading-none">TEMOS CONTEÚDOS</h2>
            <h2 class="text-4xl font-bold leading-none">EXCLUSIVOS PARA VOCÊ</h2>
        </div>
        <div class="flex-grow h-1 bg-white ml-4"></div>
    </div>
    <div class="container_icon">
        <div class="item">
            <img src="{% static 'icones/open_book_icon.png' %}" alt="E-books" class="imagem_icon">
            <br>
            <a class="botao" href="{% url 'ebook_list' %}">E-books</a>
        </div>
        <div class="item">
            <img src="{% static 'icones/mic_icon.png' %}" alt="Podcast" class="imagem_icon">
            <br>
            <div class="botao">Podcast</div>
        </div>
        <div class="item">
            <img src="{% static 'icones/pc_icon.png' %}" alt="Vídeos" class="imagem_icon">
            <br>
            <div class="botao">Vídeos</div>
        </div>
        <div class="item">
            <img src="{% static 'icones/idea.png' %}" alt="Vídeos" class="imagem_icon">
            <br>
            <div class="botao">Publicações</div>
        </div>
    </div>
    <br>
    <div class="container mx-auto flex items-center">
        <div class="flex-grow h-1 bg-white mr-4"></div>
        <div class="text-right">
            <h2 class="text-4xl font-bold leading-none">FIQUE POR DENTRO</h2>
            <h2 class="text-4xl font-bold leading-none">DE TODAS AS NOVIDADES</h2>
        </div>
    </div>
    <br>
    <div class="container mx-auto text-center">
        <img src="{% static 'homepage/banner_newsletter.png' %}" alt="newsletter">
    </div>
    <br>
    <div class="container_bt">
        <a class="botao" href="{% url 'newsletter_subscribe' %}">Cadastrar</a>
    </div>
    <a href="https://wa.me/5511999999999" class="whatsapp-button" target="_blank">
        <img src="{% static 'wpp.png' %}" alt="WhatsApp">
    </a>
</section>
{% endblock %}
