{% extends "base.html" %}
{% load static %}
{% block title %}Download E-books{% endblock %}

{% block content %}
<style>
    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #25d366;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .whatsapp-button img {
        width: 35px;
        height: 35px;
    }

    .container_icon {
        display: flex;
        justify-content: center;
        height: 20vh;
        gap: 10vh;
        margin-top: 10vh;
    }

    .item {
        text-align: center;
        margin: 0 40px;
    }

    .imagem_icon {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: auto;
    }

    .botao {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
    }

    .botao {
        padding: 10px 24px;
        font-size: 14px;
    }

    .hidden {
        display: none;
    }

    .overlay-text {
        position: absolute;
        top: 65%;
        left: 65%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1em;
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 300%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .text-15px {
        font-size: 15px;
    }

    .carousel-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .carousel-item {
        flex: 0 0 30%; /* 25% para mostrar 4 itens por vez */
        scroll-snap-align: start;
        margin: 0 25px;
        width: 30rem; 
    }

    .carousel-center {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;
    }

    .carousel-button.left {
        left: 10px;
    }

    .carousel-button.right {
        right: 10px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }

    .team-description {
        background-color: #1b1b1b;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .team-description h3 {
        font-size: 2.25rem;
        font-weight: bold;
        text-align: left;
        margin: 0;
    }

    .team-description p {
        font-size: 1.125rem;
        margin-top: 0.25rem;
        margin: 0;
    }

    .team-description .text-left {
        text-align: left;
    }

    .team-description .text-justify {
        text-align: justify;
    }
</style>
<div class="py-12 mt-20">
    <div class="container mx-auto text-center">
        <img src="{% static 'ebooks/E-books.png' %}" alt="ebooks">
    </div>
    <br>
    
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-6">
            Baixe nossos e-books e tenha acesso a ferramentas exclusivas e dicas
        </h2>
        <h2 class="text-3xl font-bold mb-6">
            práticas para aprimorar suas habilidades e transformar sua empresa.
        </h2>
    </div>
    <br>
    <div class="container mx-auto p-4"> 
        
        <div class="grid grid-cols-1 gap-4">
            <div class="carousel-container">
                <button class="carousel-button left" onclick="scrollCarousel('left')">&lt;</button>
                <div class="carousel">
                    {% for ebook in ebooks %}
                        <div class="carousel-item bg-gray-800 p-4 rounded-lg text-center">
                            {% if ebook.cover_image %}
                                <img src="{{ ebook.cover_image.url }}" alt="{{ ebook.title }}" class="h-48 w-full object-cover rounded mb-4">
                            {% else %}
                                <div class="h-48 bg-gray-400 rounded mb-4"></div>
                            {% endif %}
                            <h2 class="mb-2">{{ ebook.title }}</h2>
                            <a href="{{ ebook.file.url }}" target="_blank" class="bg-green-500 text-white py-2 px-4 rounded">Download</a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-button right" onclick="scrollCarousel('right')">&gt;</button>
            </div>
        </div>
        
    </div>
</div>
<script>
    function scrollCarousel(direction) {
        const carousel = document.querySelector('.carousel');
        const scrollAmount = 300; 
        if (direction === 'left') {
            carousel.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
        } else {
            carousel.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        }
    }
</script>
{% endblock %}
