{% extends 'base.html' %}
{% load static %}

{% block title %}Inscreva-se na Newsletter{% endblock %}

{% block content %}
<style>
    .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .form-container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        background-color: #ccc;
        box-sizing: border-box;
    }

    .btn-submit {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
    }

    .btn-submit:hover {
        background-color: #45a049;
    }

    .font-bold {
        color: #4caf50;
    }

    .alert {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
    }

    .alert-error {
        background-color: #f8d7da;
        color: #721c24;
    }

    .alert-info {
        background-color: #cce5ff;
        color: #004085;
    }

    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
    }

</style>

<section class="py-12 mt-20">
    <div class="container mx-auto text-center">
        <img src="{% static 'news_letter.jpg' %}" alt="news">
    </div>
    <br>
    <section class="py-12">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-6">Assine nossa newsletter e receba as novidades diretamente no seu e-mail.</h2>
            <br>
            <p class="text-lg mx-auto text-15px px-4 text-center">
                Para desativar a newsletter, clique no botão remover subscrição no rodapé do e-mail.
            </p>
            <p class="text-lg mx-auto mt-4 text-15px px-4 text-center">
                Veja nossa política de privacidade completa aqui.
            </p>
        </div>
    </section>
    
    <div class="form-container mt-5">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <div class="flex">
                            <div class="py-1">
                                {% if message.tags == "success" %}
                                    <div class="text-green-500">
                                        <svg class="fill-current h-6 w-6 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                                        </svg>
                                        <br>
                                    </div>
                                {% else %}
                                    <div class="text-red-500">
                                        <svg class="fill-current h-6 w-6 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path d="M10 15a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm1-11H9v6h2V4z"/>
                                        </svg>
                                        <br>
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <p class="font-bold">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.nome }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <br>
            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>
    <br>
    <div class="container mx-auto text-center">
        <p class="text-lg mx-auto text-15px px-4 text-center">
            Para desativar a newsletter, clique no botão remover subscrição no rodapé do e-mail.
        </p>
        <p class="text-lg mx-auto mt-4 text-15px px-4 text-center">
            Veja nossa política de privacidade completa aqui.
        </p>
    </div>
</section>
{% endblock %}
