<header class="bg-black text-white p-4 flex justify-between items-center w-full fixed top-0 left-0 z-10">
    <div class="flex-grow text-center">
        <div class="inline-block">
            <img src="{{ asset('assets/logo.png') }}" alt="Inovax Logo" class="logo">
        </div>
    </div>
    <div id="menuButton" class="cursor-pointer">
        <svg class="w-full h-full text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </div>
</header>

<div id="menu" class="menu">
    <a href="#quemsomos">QUEM SOMOS</a>
    <a href="#nossassolucoes">NOSSAS SOLUÇÕES</a>
    <a href="#nossotime">NOSSO TIME</a>
    <a href="#conteudos">CONTEÚDOS PARA VOCÊ</a>
    <a href="#podcast">PODCAST</a>
    <a href="#videos">VÍDEOS</a>
    <a href="#newsletter">NEWS LETTER</a>
</div>